@font-face {
    font-family: Boycott;
    src: url(fonts/Boycott.ttf);
}

.container {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: white;
    -webkit-animation: grad 3s infinite; /* Chrome, Safari, Opera */
    -moz-animation: grad 3s infinite; /* Firefox */
}
.loader {
    width: 100%;
    height: 100%;
    top: 0px; right: 0px; bottom: 0px; left: 0px;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}
#image-loader{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
#clockbox{
    position: absolute;
    color: red;
    opacity: 0.9;
    font-size: 3em;
    font-family: Boycott;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
}

@-webkit-keyframes grad {
    0%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 30%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    5%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 32%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    10%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 34%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    15%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 36%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    20%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 38%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    25%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 40%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    30%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 42%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    35%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 44%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    40%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 46%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    45%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 48%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    50%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 50%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    55%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 52%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    60%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 54%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    65%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 56%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    70%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 58%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    75%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 60%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    80%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 62%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    85%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 64%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    90%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 66%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
    100%{background-image:-webkit-radial-gradient(center, circle farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(255,0,0,1) 68%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */}
}